@import '../../../build/scss/_variables.scss';
.button-sass {
    // Base button styles
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  
    // Size variations
    &-small {
      font-size: $rh-core-size-sm+px;
      padding: $rh-core-size-sm+px;
    }
    &-medium {
        font-size: $rh-core-size-md+px;
        padding: $rh-core-size-sm+px;
    }
  
    &-large {
        font-size: $rh-core-size-lg+px;
        padding: $rh-core-size-sm+px;
    }
  
    // Color variations
    &-primary {
      background-color: $rh-core-color-primary;
      color: #fff;
    }
  
    &-secondary {
      background-color: $rh-core-color-secondary;
      color: #fff;
    }
  }